container-fluid-1{
  background-color:Gainsboro;
}
body {
  background-image: url("concrete.jpg");

}
h1 {
  font-family: serif;
  text-shadow: 200px;
  text-align: center;
}
.pagination{
  background-color: pink;
}
.navbar{
  font-family: serif;
  text-align:right;
}
